@import "~bootstrap/scss/bootstrap";
body {
  background-color: #f1e6d9;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background:rgba(0,0,0,0.4);
}
.loading-overlay > .inner
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3d7b5;
  padding: 25px;
  border-radius: 10px;
}
.v-error
{
  width: 50%;
  background-color: #f5c38a;
}

.v-error:hover
{
  background-color: #f3a54c;
}